# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django migrations
*/migrations/

# Django database file
db.sqlite3

# Static files
/static/

# Virtual environment
venv/
env/

# IDE settings (for example, PyCharm, VSCode)
.idea/
.vscode/

# Ignore entire models directory (if it contains large files such as trained models)
models/

# Local settings file (if it contains sensitive information)
*.env

# Logs
*.log

# Ignore CSV data files in the static/datasets folder
static/datasets/*.csv
